 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

 body{
    font-family: "Montserrat",sans-serif;
    margin: 0px;
 }
 *{
    box-sizing: border-box;
    margin: 0px;
 }
 

 /*---------portfolio-first section  ------------*/
 .portfolio-first{
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 1% 5% 0%;
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 10px;

 }

 .portfolio-first .description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .portfolio-first .description h2{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 1rem;
 }
 .portfolio-first .description h2 span{
    color: rgb(255, 171, 44);
    
 }
 .portfolio-first .description h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: .7rem;
 }
 .portfolio-first .description p{
   margin-bottom: 1.5rem;
   line-height: 1.5;
   font-size: 20px;
 }
  .portfolio-first .description a{
    display:inline-block;
    width: fit-content;
    padding: 10px 40px;
    background: linear-gradient(to right,rgb(255, 171, 44),coral);
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 10px;

  }
  .portfolio-first .image{
    width: 50%;
    height: 75vh;
  }
  .portfolio-first>.image>.image-text{
    width: 100%;
    height: 100%;
    margin-left: 60px;
  }
  /*----.portfolio-second section-----*/
  .portfolio-second{
   background-image: url(image/dream-bg.png);
   background-repeat: no-repeat;
   background-position: right;
  }
  .portfolio-second .image{
   margin-top: 5%;
  }
  
